__pycache__
__pycache__
ipl/__pycache__
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
.jason
.vscode
htmlcov
.coverage
ipl/trial.py
ipl/matches_played_per_year.pyc
ipl/most_econ_bowlers_2015.pyc
ipl/ipl_project.log
ipl/sql_python.py
ipl/.~lock.matches.csv#
